@charset "utf-8";
* { -webkit-tap-highlight-color: transparent }
*{margin:0; padding:0; font-size:12px;font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration:none; color:#666;}
a img{border:0;}
ul,ol,dl,dd,dt{margin:0; padding:0;}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block; content:''; clear:both;}
.clearfix{zoom:1;}
img{vertical-align:top;}
.input,textarea{outline:none;background:none;padding:0;}
table{border-collapse:collapse;}
th,td{border:1px solid #000; padding:0;}
